<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.12.4" targetFramework="uap10.0.15063" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="uap10.0.15063" />
  <package id="jQuery-UI.Touch-Punch" version="0.2.3" targetFramework="uap10.0.15063" />
</packages>